extends layout 

block content
    h1= title 
    a(href='/category/create') + Add new Category


    ul
        each val in category_names
            li 
                button(class='list-item-button')
                    a(href=val.url) #{val.name}
