extends layout 

block content
    h1= title 
    
        form(method='POST' action='' class='category-form')
            label(for="category-name") NAME 
            input(type="text" id='category-name' minlength=1 maxlength=100 value=category ? category.name : '' name='name')
            label(for="category-description") DESCRIPTION 
            textarea( cols="30" rows="10" type="text" id='category-description' minlength=1 maxlength=1000  name='description') #{category ? category.description : ''}
            button(type="submit") Submit 
            a(href='/categories') Cancel

        if (errors)
            h2 Error: 
            ul 
                each error in errors 
                    li= error.msg

