extends layout 

block content
    h1= title 
    p Are you sure you want to delete this component?

    form(method='POST' action="")
        label(for="password") ADMIN PASSWORD 
        input(type="password" id='password' minlength=1 name='password')
        button(type="submit") Delete 
        a(href=component.url) Cancel
    if (errors)
        h2 Error: 
        ul 
            each error in errors 
                li= error.msg