extends layout 

block content
    div(class='list-title-container')
        h1= title
        a(href='/manufacturer/create') + Add New Manufacturer

    ul(class='list-container')
        each val in manufacturer_names
            li
                a(href=val.url class="list-item-link")
                    button(class='list-item-button') #{val.name}
                    