/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
  flex: 1;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: rgba(195, 221, 125, 0.274);
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(141, 235, 88) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(141, 235, 88) transparent;
  top: 14px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: rgb(141, 235, 88);
  padding: 12px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 1rem;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: rgb(78, 87, 54);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
