body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.img-small {
  height: 64px;
  width: 64px;
}

.img-large {
  width: 250px;
  height: 250px;
}
